body{
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #A6F031,
    1px -1px 0 #A6F031,
    -1px 1px 0 #A6F031,
    1px 1px 0 #A6F031;;
}

.view{
	/*border: 2px solid black;*/
	background: rgba(9, 150, 42, 0.98);
	position: center;
	text-align: center;
	max-width: 100%;
	/*padding: auto;*/
}

.pledges{
	margin-bottom: 10%;
	padding: auto;
}

.speakers-review{
	margin-top: 10%;
}

.speakers-questions{
	margin-bottom: 22%;
	margin-top:22%;
}


.rate{
	overflow-wrap: all;

}