body{
	color: #ffffff;
	text-shadow:
	-1px -1px 0 rgb(18, 130, 70),
    1px -1px 0 rgb(5, 113, 185),
    -1px 1px 0 rgb(198, 51, 130),
    1px 1px 0 yellow;
}

.view{
	/*border: 2px solid black;*/
	background: rgba(81, 80, 84, 0.85);
	position: center;
	text-align: center;
	max-width: 100%;
	/*a more professional look with padding*/
	padding: 2%;
}

.pledges{
	margin-bottom: 10%;
	padding: auto;
}

.speakers-review{
	margin-top: 10%;
}

.speakers-questions{
	margin-bottom: 22%;
	margin-top:22%;
}


.rate{
	overflow-wrap: all;

}
.clear{
	display: none;
}