body{
    background-image: url("background.jpg");
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 5vw;
    line-height: 1.4;
}

img{
    size: 10em 10em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: rgba(81, 80, 84, 0.35);*/
    background-color: #515054;*/
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 2vw;
}

a:hover{
    text-decoration: none;
}

.container{
    padding-top: .9375rem;
}
.card-block{
    background: rgba(81, 80, 84, 0.85);
  /*background: #515054;*/
    color: white;
}

.btn-primary submit-checkin{
	color: #669900;
}

.navbar{
	/*background-color: #515054;*/
	color: white;
    padding: 0;
}

.active{
	color: #a3bf2a;
}

.logo{
    height: 8vw;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 15px;
}

/*section{
    padding-top: 10%;
}*/