body{
	background-color: black;
}

.card-block{
	background-color: grey;
	color: white;
	border: 2px solid black;
}


.btn-primary submit-checkin{
	color: #669900;
}

nav{
	/*background-color: #515054;*/
	color: white;
	font-family: "Oswold", sans-serif;
}

.active{
	color: #a3bf2a;
}