/* Any view-specific CSS goes in here */
.extra{
	display:none;
}

.sub2{

}


h4{
	font-size: 6vw;
	/*color:black;*/
}
p{
	font-size: 2vw;
	/*color:black;*/
}
 h5{
 	font-size: 4vw;
 }

/*img{
	float:left;
}*/

.btn{
  border: 2px solid white;
  background: rgb(5, 113, 185);
}

.btn sub1{
  margin-bottom: 2vw;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4px;
}
.green{
   background: rgba(18, 130, 70, 205);
   border: 1px solid black;

}

.blue{
   background: rgba(198, 51, 130, 205);
   border: 1px solid black;
}

.pink{
	background: rgba(5, 113, 185, 205);
	border: 1px solid black;
}

.form-control{
   text-align:left;
}
img.expand{
    display: block;
    margin: auto;
    width: 10%;
}
