/* Any view-specific CSS goes in here */

	/*the card css*/
.first-page{
	margin-top: 60px;
	padding: 40px;
	background-color: rgba(81, 84, 80, 0.35);
}

	/*css for the div button and btn*/
.button{
	padding: 20px;
}
.btn{
	margin-left: 83px;
	border: 2px solid white;
	background: red;
}

	/*css for images shown*/
.kings-health-partners{
	display: block;
    margin: auto;
    width: 85%;
}
.GuysStThomasNHS{
    display: block;
    margin: auto;
    width: 85%;
}

.speak-up-logo{
	display: block;
    margin: auto;
    width: 60%;
}