/* Any view-specific CSS goes in here */

.btn{
	border: 2px solid white;
	background: none;
}


.discover{
	width: 10%;
	display: inline;
	margin: 10%;

}
 .card-block{
 	margin: 7px;
 }



.Ini{
	margin: 0px;
}

.Sp{
	margin: 1px;
}

.Pl{
	margin: 1px;
}
.title{
	background-color: rgba(81, 80, 84, 0.35);
	margin: 3px;
}