/* Any view-specific CSS goes in here */

.extra{
	display:none;
	font-size: 15px;
}

/*colour of the 'send feedback' buttons*/
.btn{
	border: 2px solid white;
	background: rgb(198, 51, 130);
}


h4{
	font-size: 8vw;
}
p{
	font-size: 4vw;
}
 h5{
 	font-size: 6vw;
 }

 /*Speak Up logo*/
img.logo{
	float:left;
}

.btn sub1{
  margin-bottom: 2vw;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4px;
}


  /* START of emoji rating css */
img.rating1 {
   height:5vw; 
   width:5vw; 
}
img.rating2{
   height:6vw; 
   width:6vw; 
}
img.rating3{
  height:6vw; 
  width:6vw; 

}
img.rating4{
  height:6vw; 
  width:6vw; 

}
img.rating5{
  height:6vw; 
  width:6vw; 
}

img.selected{
  height: 8vw;
  width: 8vw;
}
  /*END of emoji rating css*/

p.word{
 text-align: center;

}
p.txt{
	text-align: center;
}
 
img {
  background-color: transparent;

}
.arrow{
    display: block;
    margin: auto;
    width: 10%;
    background-color: transparent;
}
