/* Any view-specific CSS goes in here */
.extra{
	display:none;
	font-size: 15px;
}

/*colour of the 'send feedback' buttons*/
.btn{
	border: 2px solid white;
	background: rgb(198, 51, 130);
}


h4{
	font-size: 8vw;
	/*color:black;*/
}
p{
	font-size: 4vw;
	/*color:black;*/
}
 h5{
 	font-size: 6vw;
 }

img.logo{
	float:left;
}

.btn sub1{
  margin-bottom: 2vw;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4px;
}

img.rating1 {
/*   position: absolute;*/
   height:5vw; 
   width:5vw; 
}
img.rating2{
/*   position: absolute;*/
   height:6vw; 
   width:6vw; 
}
img.rating3{
/*   position: absolute;*/
/*    size: 4vw;*/
     height:6vw; 
   width:6vw; 

}
img.rating4{
/*   position: absolute;*/
 	height:6vw; 
    width:6vw; 

}
img.rating5{
/**/
   height:6vw; 
   width:6vw; 
}

/*.ratings{
  margin-bottom: 10px;
}*/

img.selected{
  height: 8vw;
  width: 8vw;
}

p.word{
 text-align: center;

}
p.txt{
	text-align: center;
}
 
img {
  background-color: transparent;

}
.arrow{
    display: block;
    margin: auto;
    width: 10%;
}
